[Unit]
Description=Raspberry Pi RX5808 Stream Server
After=network.target

[Service]
Type=notify
ExecStart=/usr/bin/python3 /usr/local/bin/rpi-rx5808-stream.py
StandardOutput=journal
StandardError=journal

Restart=always
RestartSec=2
WatchdogSec=2

[Install]
WantedBy=multi-user.target network-online.target
